<br>
<br>
<br>
<div class="formcontainer">
  <h2 style="color:#d9534f;font-family:'Galada'">Find a Ride</h2>
  <form id="bookarideform">
    <!-- action="/action_page.php"  -->
    <label for="leavingfrom" style="font-size:15px;">
      <b>Leaving From:</b>
    </label>
    <br>
    <input type="text" [(ngModel)]="leavingfrom" placeholder="Enter pick up location" style="height:30px;" name="leavingfrom"
      id="leavingfrom">
    <br>
    <label for="leavingfrom" style="font-size:15px;">
      <b>Leaving To:
        <b>
          <!-- </label> -->
          <br>
          <input type="text" [(ngModel)]="leavingto" placeholder="Enter drop off location" style="height:30px;" name="leavingto" id="leavingto">
          <br>
          <label for="date" style="font-size:15px;">
            <b>Date:</b>
          </label>
          <br>
          <input type="date" [(ngModel)]="date" placeholder="Enter the date" style="height:30px;" name="date" id="date">
          <br>
          <br>
          <input type="button" (click)="searchRides()" value="Search">


          <div style="margin-left:10%;margin-right:10%" *ngIf="showResults">
            <table class="table">
              <thead>
                <tr>
                  <th>Leaving From</th>
                  <th>Leaving To</th>
                  <th>Departure</th>
                  <th>Seats Available</th>
                  <th>Price</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor='let ride of availablerides'>
                  <td>{{ride.pickup}}</td>
                  <td>{{ride.dropoff}}</td>
                  <td>{{ride.departure | date: 'medium'}}</td>
                  <td>{{ride.seats}}</td>
                  <td>{{ride.price}}</td>
                  <td>{{ride.comment}}</td>
                  <td>
                    <input class="btn btn-danger" type="button" value="BOOK" (click)="bookaride(ride)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <div id="data" style="width:80%;margin-left: 150px;"></div>